
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_API_URL=http://localhost:5000/api
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=replace_with_long_random_secret
NEXT_PUBLIC_CONTRACT_ADDRESS=replace_with_contract_address
NEXT_PUBLIC_ETH_EXPLORER_URL=https://etherscan.io/tx
